@{
    ViewBag.Title = "Unit";
}

<h1>Enheter</h1>

<div class="container">
    <div class="row">

        <div class="col-lg-4 text-primary-emphasis">
            Namn:
            <p id="nameUnit"></p>
        </div>

        <div class="col-lg-4 text-primary-emphasis">
            Beskrivning:
            <p id="descriptionUnit"></p>
        </div>

        <div class="col-lg-4 text-primary-emphasis">
            Temperatur:
            <p id="temperatureUnit"></p>
        </div>
       

    </div>
</div>


<script src="~/js/signalr.js"></script>
<script src="~/js/unitHub.js"></script>