@{
    ViewBag.Title = "Admin";
}

<h1>Admin</h1>

<div class="container">
    <div class="row">

        <div class="col-lg-4 text-primary-emphasis">
            Antal besökare: 
            <span id="amountViews"></span>
        </div>

    </div>
</div>


<script src="~/js/signalr.js"></script>
<script src="~/js/unitHub.js"></script>